<footer class="footer">
    <p class="footer__paragraph">Actividad realizada por Jesús Chica Martínez.</p>
    <p class="footer__paragraph">Todas las imágenes utilizadas en esta web son de dominio público y/o se encuentran bajo
        la licencia <a class="footer__link" href="https://creativecommons.org/publicdomain/zero/1.0/deed.es">CC0</a>.
        Imágenes obtenidas de <a href="https://pxhere.com/" class="footer__link">pxhere</a>.</p>
    <p class="footer__paragraph">Los textos extraídos de la Wikipedia se encuentran bajo la licencia <a
            class="footer__link" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>.</p>
    <p class="footer__paragraph">Para cumplir con la cláusula <em lang="en">copyleft</em> de la Licencia <a
            class="footer__link" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>, el
        contenido de esta web se
        adhiere a la misma licencia.</p>
</footer>