<header class="header">
    <h1 class="header__title">Roma Aeterna</h1>
    <h2 class="header__subtitle">La ciudad eterna</h2>
</header>
<nav class="navbar">
    <a href="#" class="button button--navbar" role="button">
        <span class="button__body">Inicio</span>
        <i class="button__append fa-solid fa-house"></i>
    </a>
    <a href="#" class="button button--navbar" role="button">
        <span class="button__body">Mapas</span>
        <i class="button__append fa-solid fa-map"></i>
    </a>
    <a href="#" class="button button--navbar button--navbar-last" role="button">
        <span class="button__body">Contacto</span>
        <i class="button__append fa-solid fa-users"></i>
    </a>
</nav>
