.footer {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 1.5rem;
    line-height: 1.6;
    color: $web-title-color;
    text-align: center;
    text-shadow: 1px 1px 1px black;

    &__paragraph {
        margin-top: 0;
        margin-bottom: 5px;
    }
}